<div class="cell-center">
        <p>
            <br />
        </p>
        <div class="">

            <div id="myCarousel" class="carousel slide control-group ">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active carousel-img">
                        <img src="~/Images/banner/CliresLogo.jpg" width="100" alt="Clires logo"/>
                    </div>
                    <div class="item carousel-img">
                        <img src="~/Images/banner/1.JPG" alt=""/>
                    </div>
                     <div class="item carousel-img">
                        <img src="~/Images/banner/3.JPG" alt=""/>
                    </div>
                    <div class="item carousel-img">
                        <img src="~/Images/banner/4.JPG" alt=""/>
                    </div>
                    <div class="item carousel-img">
                        <img src="~/Images/banner/5.JPG" alt=""/>
                    </div>
                    <div class="item carousel-img">
                        <img src="~/Images/banner/6.JPG" alt=""/>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>