@using System.Web.Optimization
@model dynamic
@{
    ViewBag.Title = "Form PreView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = ViewBag.Layout;
}
@section scripts{
    @Scripts.Render(
    "~/Scripts/app/admin/StudyForms/formview.js")
    <script type="text/javascript">
        loadform('@ViewBag.FormId');
    </script>
}

<div class="container">
    <div class="site-title">Form Preview</div>

    <div class='loadingIndicator'><i class="icon-refresh">&nbsp;</i> Loading...</div>
    <form method="POST" id="frmForm">
    <div class="studyform">
        <!-- ko template: {name: 'frmview', data: fv.vm.form} -->
        <!-- /ko -->
    </div>
    <div class="form-actions tansparent">
        <input type="submit" value="Test" />
    </div>
    </form>
</div>

@Html.Partial("Forms/_FormTmpl")