@using System.Web.Optimization
@using Tateeda.Clires.Utility
@{
	ViewBag.Title = "Mapping Settings";
	Layout = string.IsNullOrWhiteSpace(ViewBag.Layout) ? "~/Views/Shared/_Layout.cshtml" : ViewBag.Layout;
	var enumHelper = new EnumerationHelper();
}

<div class="site-title">Matrix Mapping Management</div>
@section scripts{
	@Scripts.Render("~/Scripts/app/Admin/Matrix/settings.js")

	<script type="text/javascript">
		mx.vm.defaultStudyId = Number('@(ViewBag.DefaultStudyId)');
		mx.vm.loadDefaultStudySettings();
	</script>
}
	<div class="container-fluid">
		<div class="span3">
			@Html.DropDownList("StudyId", enumHelper.GetStudies(true),
				new Dictionary<string, object>
					{
						{ "class", "input-large" }, 
						{ "placeholder", "Select Study" }, 
						{ "data-bind", "value: mx.vm.defaultStudyId" }
					})
		</div>
		<div class="span2">
			<div class='loadingIndicator'><i class="icon-refresh">&nbsp;</i> Loading...</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="span3 cell-center">
				<div class="title">Visits:</div>
				<!-- ko template: {name: 'visits', data: mx.vm.settings } -->
				<!-- /ko -->
			</div>
			<div class="span3">
				<div class="title">Available Forms:</div>
				<!-- ko template: {name: 'forms', data: mx.vm.settings } -->
				<!-- /ko -->
			</div>
			<div class="span3">
				<div class="title">Available Labs:</div>
				<!-- ko template: {name: 'labs', data: mx.vm.settings } -->
				<!-- /ko -->
			</div>
			<div class="span3">
				<div class="title">Visit Mapping:</div>
				<!-- ko template: {name: 'map', data: mx.vm } -->
				<!-- /ko -->
			</div>
		</div>
		<div class="row-fluid">
			<!-- ko template:{name: 'submit', data: mx.vm.visit }-->
			<!-- /ko -->
		</div>

		<input type="hidden" id="mappingdata" name="mappingdata" />
	</div>


<script type="text/html" id="visits">
	<div data-bind="if: $data.Visits!==undefined">
		<select name="visitId" id="visitId" size="20" class="input-medium select-medium-height"
			data-bind="
			options: $data.Visits,
			optionsText: 'Name',
			optionsValue: 'Id'">
		</select>
	</div>

</script>

<script type="text/html" id="forms">
	<div data-bind="if: $data.Forms!==undefined">
		<select name="formId" id="formId" multiple="multiple" size="20" class="input-large select-medium-height"
			data-bind="
			options: $data.Forms,
			optionsText: 'Name',
			optionsValue: 'Id'">
		</select>
	</div>
</script>

<script type="text/html" id="labs">
	<div data-bind="if: $data.Labs!==undefined">
		<select name="labId" id="labId" multiple="multiple" size="20" class="input-large select-medium-height"
			data-bind="
			options: $data.Labs,
			optionsText: 'Name',
			optionsValue: 'Id'">
		</select>
	</div>
</script>

<script type="text/html" id="map">
	<div data-bind="if: $data!==undefined" id="mapContainer">
		<select name="mapId" id="mapId" multiple="multiple" size="20" class="input-large select-medium-height"
			style="border: none; background: transparent;"
			data-bind="
			options: $data.visitInfo,
			optionsText: 'Name',
			optionsValue: 'Id'">
		</select>
	</div>
</script>

<script type="text/html" id="submit">
	<div class="offset10">
		<div data-bind="if: $data!==undefined">
			<input type="button" id="btnSettingsUpdate" class="btn btn-primary" data-bind="value: 'Update ' + VisitName() " value="Update" />
		</div>
	</div>
</script>
