@{
    ViewBag.Title = "About";
}

<div class="row-fluid">
	<hgroup class="title offset0">
		<h1>Clires-4</h1>
		<h2>Clinical Trials &amp; Research Data Entry</h2>
	</hgroup>

	<article class="offset1">
		<h3>Features:</h3>

		<ul>
			<li>Multi-sites/location clinical study</li>
			<li>Easy to build dynamic survey forms and labs for your clinical study                                        </li>
			<li>Most popular input types on the form (radio groups, check boxes, dates, select, etc...)       </li>
			<li>Option to group questions and validate required dependant fields                                           </li>
			<li>HIPPA compliant                                                                                            </li>
			<li><b>CFR Part 11</b> compliant</li>
			<li>Sensitive date encryption                                                                                  </li>
			<li>Dynamic visits management                                                                                  </li>
			<li>Visits Schedule and validation                                                                             </li>
			<li>Easy to view study matrix                                                                                  </li>
			<li>Medication management                                                                                      </li>
			<li>Forms submission by Subject                                                                                </li>
			<li><i>Role based functionality:   </i>
				<ul>
					<li>Clinician Role</li>
					<li>Study Administrator Role</li>
					<li>Subject</li>
				</ul>
			</li>

			<li>Subjects files</li>
			<li>Site navigation restriction                                                                                </li>
			<li>Easy to see subjects summary and medication history                                                        </li>
			<li>Required Answers specification                                                                             </li>
			<li>Multi phase research                                                                                       </li>
			<li>Fully customizable for your own medical research or study                                                  </li>
			<li>Site wide notifications</li>
			<li>Email support</li>
		</ul>
	</article>

	<aside style="top:250px; position: absolute; right: 10px;">
		<div>
	        <img src="~/Images/TateedaLogo2013.png" />
	    </div>
		<p>
			Details at <a href="http://tateeda.com/ClinicalStudy.aspx" target="_search">Tateeda.com</a>
		</p>
		<ul>
			<li>@Html.ActionLink("Home", "Index", "Home")</li>
			<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
		</ul>
	</aside>
</div>
