@{
    ViewBag.Title = "Index";
    Layout = ViewBag.LayoutLink;
}

<h2>Application Error</h2>
<section>
    <article>
        <div class="alert-error title">Sorry, something went wrong...</div>
        <p class="warning">
            <i class="icon-wrench"></i>  This error was recorded and submitted for review by administrator.
        </p>
    </article>
</section>

