@{
    ViewBag.Title = "New Study Setup";
    ViewBag.HelpPage = "_HelpStudySetup";
    Layout = "~/Views/Shared/_SysAdminLayout.cshtml";       
}
<div class="content-wrapper">
    <div class="content tablular">
        <div class="row-fluid">
            <a href="~/Admin/Study">
                <div class="span9">
                    <h4><i class="num-one"></i>Create Study</h4>
                </div>
            </a>
            <div class="span1">
                <i id="studyStepIco1" class="icon-flag"></i>
            </div>
        </div>
        <div class="row-fluid">
            <a href="~/Admin/Study/Arms">
                <div class="span9">
                    <h4><i class="num-two"></i>Create Study Arm(s)</h4>
                </div>
            </a>
            <div class="span1">
                <i id="studyStepIco2" class="icon-flag"></i>
            </div>
        </div>
        <div class="row-fluid">
            <a href="~/Admin/Sites">
                <div class="span9">
                    <h4><i class="num-three"></i>Create or Map Study Site(s)</h4>
                </div>
            </a>
            <div class="span1">
                <i id="studyStepIco3" class="icon-flag"></i>
            </div>
        </div>
        <div class="row-fluid">
            <a href="~/Admin/Visit">
                <div class="span9">
                    <h4><i class="num-four"></i>Create Study Visit(s)</h4>
                </div>
            </a>
            <div class="span1">
                <i id="studyStepIco4" class="icon-flag"></i>
            </div>
        </div>
        <div class="row-fluid">
            <a href="~/Admin/StudyForms">
                <div class="span9">
                    <h4><i class="num-five"></i>Create Study Form(s) with Questions and Answers</h4>
                </div>
            </a>
            <div class="span1">
                <i id="studyStepIco5" class="icon-flag"></i>
            </div>
        </div>
        <div class="row-fluid">
            <a href="~/Admin/Mapping/Settings">
                <div class="span9">
                    <h4><i class="num-six"></i>Create Study Mapping between Visits and Forms</h4>
                </div>
            </a>
            <div class="span1">
                <b id="studyStepIco6" class="icon-flag"></b>
            </div>
        </div>
        <div class="row-fluid">
            <a href="~/Admin/Study/VisitSequence">
                <div class="span9">
                    <h4><i class="num-seven"></i>Create Study Sequence of Visits per Session</h4>
                </div>
            </a>
            <div class="span1 ui-icon-stop">
                <i id="studyStepIco7" class="icon-flag"></i>
            </div>
        </div>

    </div>
</div>
