@using System.Web.Optimization
@model Tateeda.Clires.Areas.Subject.Model.SubjectViewModel
@{
    ViewBag.Title = "Appointment Details";
    Layout = string.IsNullOrWhiteSpace(ViewBag.Layout) ? "~/Views/Shared/_Layout.cshtml" : ViewBag.Layout;
}
<div class="site-title">Subject [@Model.Id] Details</div>

<div class="row-fluid">

    <div class="row-fluid">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab">Subject Info</a></li>
                <li><a href="#appointments" data-toggle="tab">Appointments</a></li>
                @*<li><a href="#medication" data-toggle="tab">Medication</a></li>*@
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane active">
                    @Html.Partial("Subject/_SubjectDetails", @Model)
                </div>
                <div id="appointments" class="tab-pane">
                    @Html.Partial("Subject/_SubjectAppointments", @Model)
                </div>
               @* <div id="medication" class="tab-pane">
                    @Html.Partial("Subject/_SubjectMedication", @Model)
                </div>*@

            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.tabbable -->
    </div>
</div>

