@{
    ViewBag.Title = "Administration";
    Layout = string.IsNullOrWhiteSpace(ViewBag.Layout) ? "~/Views/Shared/_Layout.cshtml" : ViewBag.Layout;
}

<div class="site-title">Administration Main</div>
