<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="MultipleActiveResultSets=true;Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;password=sk68.com" />
    <add name="Entities" connectionString="metadata=res://*/Data.EF.TateedaEFModel.csdl|res://*/Data.EF.TateedaEFModel.ssdl|res://*/Data.EF.TateedaEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;MultipleActiveResultSets=true;Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;password=sk68.com&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
    <customErrors defaultRedirect="/"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="/"/>
    </customErrors>

  </system.web>
</configuration>