<div class="help-block white-text">
    <p>
        Sorry, no help available for this page.
        <br/>
        <br/>
        If you need help please try to contacts us directly.
        
        <br/>
        <br/>
        Thank you.
    </p>
</div>