<div class="help-block white-text">
    <ul>
        <li>Enter User Name and password</li>
        <li>If you check remember me, next time your username will be prefilled. You'll need to enter your password</li>
    </ul>
</div>