<div>
    <p class="help-text">
        This wizard will guide you through creation of new study.
    </p>
    <p class="help-text">
        Mark set up as complete to finish study creation process.
    </p>
</div>
