@model Tateeda.Clires.Areas.Admin.Model.Drugs.DrugCategoryViewModel

@using (Ajax.BeginForm("EditDrugCategory", null,
            new AjaxOptions { HttpMethod = "POST", OnComplete = "OnCompleteWithCallback", OnFailure = "OnFailure" },
            new { @class = "form-horizontal" })) {

    <div class="control-group">
        <label class="control-label" for="Name">Name:<span class="required">*</span></label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Name,
            new Dictionary<string, object>
                {
                    { "class", "input-large" }, 
                    { "required", "required" }, 
                    { "placeholder", "Category Name" }, 
                    { "data-bind", "value: Name" }
                })
        </div>
        <br />
        <label class="control-label" for="Code">Code:</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Code,
            new Dictionary<string, object>
                {
                    { "class", "input-large" }, 
                    { "placeholder", "Category Code" }, 
                    { "data-bind", "value: Code" }
                })
        </div>
        <br />
        <label class="control-label" for="Description">Description:</label>
        <div class="controls">
            @Html.TextAreaFor(m => m.Description,
            new Dictionary<string, object>
                {
                    { "class", "input-large" }, 
                    { "placeholder", "Category Description" }, 
                    { "data-bind", "value: Description" }
                })
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn  btn-primary" data-dismiss="modal">Cancel</button>
        <input type="button" class="btn btn-danger" id="btnDeleteCategory" value="Delete" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}