<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://clires4.tateeda.com/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>dock.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>clires4.tateeda.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>clires4.tateeda_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com" Name="Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tateeda.Clires.Core.Data.EF.Entities, Tateeda.Clires.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com" Name="Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="MultipleActiveResultSets=true;Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;password=sk68.com" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.EF.TateedaEFModel.csdl|res://*/Data.EF.TateedaEFModel.ssdl|res://*/Data.EF.TateedaEFModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=dock.arvixe.com;Initial Catalog=_CliresV4;User ID=odesuk;Password=sk68.com;MultipleActiveResultSets=True"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>